In [ ]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
airport = pd.read_csv('02_airport_information_fallingrain.csv')
airport.head()

   Airlines          city  FAA  ...                      name    country state
0       4.0  BAHIA BLANCA  NaN  ...         COMANDANTE ESPORA  Argentina   NaN
1       NaN  Buenos Aires  NaN  ...                     MORON  Argentina   NaN
2       NaN  Buenos Aires  NaN  ...                EL PALOMAR  Argentina   NaN
3      41.0  Buenos Aires  NaN  ...        MINISTRO PISTARINI  Argentina   NaN
4      10.0  Buenos Aires  NaN  ...  AEROPARQUE JORGE NEWBERY  Argentina   NaN

[5 rows x 12 columns]

In [ ]:
airport.shape

(2247, 12)

In [ ]:
airport.country.unique()

array(['Argentina', 'Brazil', 'Colombia', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Guatemala', 'Haiti', 'Mexico', 'Nicaragua',
       'Panama', 'United States'], dtype=object)

In [ ]:
airport.city.unique()

array(['BAHIA BLANCA', 'Buenos Aires', 'Catamarca', ..., 'WAUKESHA',
       'WAUPACA', 'Wisconsin Rapids'], dtype=object)

In [ ]:
airport.state.unique()

array([nan, 'Puerto Rico', 'Alabama', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Illinois', 'Indiana', 'Iowa', 'Idaho',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Virgin Islands', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wyoming', 'Wisconsin'],
      dtype=object)

In [ ]:
airport.fillna("", inplace=True)
airport

     Airlines              city  ...        country      state
0           4      BAHIA BLANCA  ...      Argentina
1                  Buenos Aires  ...      Argentina
2                  Buenos Aires  ...      Argentina
3          41      Buenos Aires  ...      Argentina
4          10      Buenos Aires  ...      Argentina
...       ...               ...  ...            ...        ...
2242                   SUPERIOR  ...  United States  Wisconsin
2243                  WATERTOWN  ...  United States  Wisconsin
2244                   WAUKESHA  ...  United States  Wisconsin
2245                    WAUPACA  ...  United States  Wisconsin
2246           Wisconsin Rapids  ...  United States  Wisconsin

[2247 rows x 12 columns]

In [ ]:
airport['city'].replace(' ', '_', regex=True, inplace=True)
airport.head()

  Airlines          city FAA  ...                      name    country state
0        4  BAHIA_BLANCA      ...         COMANDANTE ESPORA  Argentina
1           Buenos_Aires      ...                     MORON  Argentina
2           Buenos_Aires      ...                EL PALOMAR  Argentina
3       41  Buenos_Aires      ...        MINISTRO PISTARINI  Argentina
4       10  Buenos_Aires      ...  AEROPARQUE JORGE NEWBERY  Argentina

[5 rows x 12 columns]

In [ ]:
airport['state'].replace(' ', '_', regex=True, inplace=True)
airport.head()

  Airlines          city FAA  ...                      name    country state
0        4  BAHIA_BLANCA      ...         COMANDANTE ESPORA  Argentina
1           Buenos_Aires      ...                     MORON  Argentina
2           Buenos_Aires      ...                EL PALOMAR  Argentina
3       41  Buenos_Aires      ...        MINISTRO PISTARINI  Argentina
4       10  Buenos_Aires      ...  AEROPARQUE JORGE NEWBERY  Argentina

[5 rows x 12 columns]

In [ ]:
airport['country'].replace(' ', '_', regex=True, inplace=True)
airport.head()

  Airlines          city FAA  ...                      name    country state
0        4  BAHIA_BLANCA      ...         COMANDANTE ESPORA  Argentina
1           Buenos_Aires      ...                     MORON  Argentina
2           Buenos_Aires      ...                EL PALOMAR  Argentina
3       41  Buenos_Aires      ...        MINISTRO PISTARINI  Argentina
4       10  Buenos_Aires      ...  AEROPARQUE JORGE NEWBERY  Argentina

[5 rows x 12 columns]

In [ ]:
airport.state.unique()

array(['', 'Puerto_Rico', 'Alabama', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District_of_Columbia',
       'Florida', 'Georgia', 'Illinois', 'Indiana', 'Iowa', 'Idaho',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New_Hampshire',
       'New_Jersey', 'New_Mexico', 'New_York', 'North_Carolina',
       'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode_Island', 'South_Carolina', 'South_Dakota', 'Tennessee',
       'Texas', 'Virgin_Islands', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West_Virginia', 'Wyoming', 'Wisconsin'],
      dtype=object)

In [ ]:
airport['location']=airport['country']+'-'+airport['state']+'-'+airport['city']
airport

     Airlines  ...                                  location
0           4  ...                   Argentina--BAHIA_BLANCA
1              ...                   Argentina--Buenos_Aires
2              ...                   Argentina--Buenos_Aires
3          41  ...                   Argentina--Buenos_Aires
4          10  ...                   Argentina--Buenos_Aires
...       ...  ...                                       ...
2242           ...          United_States-Wisconsin-SUPERIOR
2243           ...         United_States-Wisconsin-WATERTOWN
2244           ...          United_States-Wisconsin-WAUKESHA
2245           ...           United_States-Wisconsin-WAUPACA
2246           ...  United_States-Wisconsin-Wisconsin_Rapids

[2247 rows x 13 columns]

In [ ]:
airports = airport[['location', 'name', 'latitude', 'longitude']]
airports.head()

                  location                      name  latitude  longitude
0  Argentina--BAHIA_BLANCA         COMANDANTE ESPORA   -38.725    -62.169
1  Argentina--Buenos_Aires                     MORON   -34.676    -58.643
2  Argentina--Buenos_Aires                EL PALOMAR   -34.610    -58.613
3  Argentina--Buenos_Aires        MINISTRO PISTARINI   -34.822    -58.536
4  Argentina--Buenos_Aires  AEROPARQUE JORGE NEWBERY   -34.559    -58.416

In [ ]:
airports.location.unique()

array(['Argentina--BAHIA_BLANCA', 'Argentina--Buenos_Aires',
       'Argentina--Catamarca', ..., 'United_States-Wisconsin-WAUKESHA',
       'United_States-Wisconsin-WAUPACA',
       'United_States-Wisconsin-Wisconsin_Rapids'], dtype=object)

In [ ]:
zika = pd.read_csv('zikavirus.csv')
zika.head()

  report_date  ... cases
0  2017-01-12  ...   0.0
1  2017-01-12  ...   1.0
2  2017-01-12  ...   2.0
3  2017-01-12  ...   0.0
4  2017-01-12  ...   2.0

[5 rows x 5 columns]