In [8]:
import pandas as pd
import numpy as np
import re

In [7]:
df_weather = pd.read_csv('./datasets/weatherdataset.csv')
df_weather.head(5)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2016-03-19,22,13,0.0,11.6,5,73,05:01 PM,03:19 AM,06:57 AM,...,36,10,58,0.0,1023,22,10,125,27,Argentina
1,2016-03-20,22,16,0.0,11.6,5,80,05:38 PM,04:15 AM,06:58 AM,...,29,22,58,0.1,1022,22,10,95,21,Argentina
2,2016-03-21,24,17,0.0,10.3,5,87,06:11 PM,05:10 AM,06:59 AM,...,20,58,69,3.4,1017,24,10,95,15,Argentina
3,2016-03-22,28,19,0.0,11.6,6,94,06:44 PM,06:05 AM,07:00 AM,...,11,2,65,0.0,1016,28,10,117,8,Argentina
4,2016-03-23,30,17,0.0,11.6,6,100,07:16 PM,06:59 AM,07:01 AM,...,19,2,60,0.0,1015,30,10,139,14,Argentina

In [2]:
df_population = pd.read_csv('./datasets/population_density.csv')
df_population.head(5)

                 location  density_per_km
0  Argentina-Buenos_Aires    12625.800781
1          Argentina-CABA    12625.800781
2       Argentina-Cordoba     2404.108887
3    Argentina-Entre_Rios       72.495293
4      Argentina-Santa_Fe      208.092285

In [3]:
df_zikavirus= pd.read_csv('./datasets/zikavirus.csv')
df_zikavirus.head(5)

,report_date,location,location_type,data_field,cases
0,2017-01-12,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,0.0
1,2017-01-12,Argentina-CABA,province,cumulative_confirmed_imported_cases,1.0
2,2017-01-12,Argentina-Cordoba,province,cumulative_confirmed_imported_cases,2.0
3,2017-01-12,Argentina-Entre_Rios,province,cumulative_confirmed_imported_cases,0.0
4,2017-01-12,Argentina-Santa_Fe,province,cumulative_confirmed_imported_cases,2.0

In [4]:
df = pd.concat(map(pd.read_csv, ['./datasets/zikavirus.csv', './datasets/weatherdataset.csv', './datasets/population_density.csv']), axis=1, ignore_index=False)
df.head(5)

,report_date,location,location_type,data_field,cases,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,...,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location,location,density_per_km
0,2017-01-12,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,0.0,2016-03-19,22.0,13.0,0.0,11.6,...,58.0,0.0,1023.0,22.0,10.0,125.0,27.0,Argentina,Argentina-Buenos_Aires,12625.800781
1,2017-01-12,Argentina-CABA,province,cumulative_confirmed_imported_cases,1.0,2016-03-20,22.0,16.0,0.0,11.6,...,58.0,0.1,1022.0,22.0,10.0,95.0,21.0,Argentina,Argentina-CABA,12625.800781
2,2017-01-12,Argentina-Cordoba,province,cumulative_confirmed_imported_cases,2.0,2016-03-21,24.0,17.0,0.0,10.3,...,69.0,3.4,1017.0,24.0,10.0,95.0,15.0,Argentina,Argentina-Cordoba,2404.108887
3,2017-01-12,Argentina-Entre_Rios,province,cumulative_confirmed_imported_cases,0.0,2016-03-22,28.0,19.0,0.0,11.6,...,65.0,0.0,1016.0,28.0,10.0,117.0,8.0,Argentina,Argentina-Entre_Rios,72.495293
4,2017-01-12,Argentina-Santa_Fe,province,cumulative_confirmed_imported_cases,2.0,2016-03-23,30.0,17.0,0.0,11.6,...,60.0,0.0,1015.0,30.0,10.0,139.0,14.0,Argentina,Argentina-Santa_Fe,208.092285

In [5]:
df.shape

(242450, 32)

In [6]:
df_mod = df[df.location.str.contains('argentina')]
df_mod.head(5)

AttributeError: 'DataFrame' object has no attribute 'str'